.zig-cache/
zig-out/
.kira/
.kira-build/

examples/*/generated/
examples/*/kira.lock
tests/*/generated/
tests/*/kira.lock
tests/ksl_asset_probe.exp

generated/

*.kbc
*.khm
*.obj
*.obj.ll
*.o
*.lib
*.dll
*.exe
*.pdb

.DS_Store
Thumbs.db
.idea/
.vscode/
